@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.output > pre {
    font-size: 1.2rem !important;
}

.whitespace-pre {
    font-size: 1rem;
}

:root {
    --marimo-monospace-font: 'JetBrains Mono';
}