@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.content {
  font-family: "Palatino";
}

.sourceCode {
  font-family: "JetBrains Mono";
}

#relative-entropy {
  page-break-before: always;
}

